<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-lg-4">
    <a class="navbar-brand text-primary fw-semibold" routerLink="/">
      NoteKeeper
    </a>
    <div class="d-flex gap-3">
      <a routerLink="/notas/listar" class="nav-link">
      <button routerLinkActive="btn-primary text-light" class="btn btn-sm btn-outline-primary rounded-2">
        Notas
      </button>
      </a>
      <a routerLink="/notas/listar-arquivadas" class="nav-link">
      <button routerLinkActive="btn-primary text-light" class="btn btn-sm btn-outline-primary rounded-2">
        Arquivadas
      </button>
      </a>
      <a routerLink="/categorias/listar" class="nav-link">
      <button routerLinkActive="btn-primary text-light" class="btn btn-sm btn-outline-primary rounded-2">
        Categorias
      </button>
      </a>
    </div>
  </div>
</nav>