<!-- Navbar -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid px-lg-4">
    <a class="navbar-brand text-primary fw-semibold" routerLink="/">
      <!-- <i class="bi bi-bookmarks-fill"></i> -->
      NoteKeeper
    </a>
    <div class="d-flex gap-3">
      <button routerLink="notas/listar" class="btn btn-sm btn-outline-primary rounded-2">
        Notas
      </button>
      <button routerLink="categorias/listar" class="btn btn-sd btn-outline-primary rounded-2">
        Categorias
      </button>
    </div>
  </div>
</nav>
